{% load static %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
<script src="{% static 'angular/angular.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
<script src="{% static 'djng/js/django-angular.js' %}"></script>
<script src="{% static 'angular-ui-bootstrap/dist/ui-bootstrap.js' %}"></script>
<!--<script src="{% static 'angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %}"></script>-->
<script src="{% static 'js/ext/ui-bootstrap-custom-tpls-3.0.2.min.js' %}"></script> <!-- https://morgul.github.io/ui-bootstrap4/ -->

<!-- Fonts -->
<!--<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script> --> <!-- TODO: new font awesome (5.0) icon is not updating with ng-class -->
<link href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" rel="stylesheet">

<script src="https://d3js.org/d3.v4.min.js"></script>
